body{
    background-image:linear-gradient(to bottom right,rgb(44, 153, 230),rgb(228, 28, 228));
}

h1{
    font-family: cursive;
}

form{
    background-color: white;
    margin: 100px;
    padding-bottom: 400px;
    width: 600px;
    border-radius: 10px ;
}

input{
    margin-top: 30px;
    border-top: 0px;
    border-left:0px;
    border-right: 0px;
    border-bottom: solid 1px;
}
