div.backgroundcontainer{
    width: 1100px;
    height:550px;
    border: solid 3px wheat;
    background-color:rgb(27, 68, 203);
    margin:auto;
    margin-top: 30px;

}

div.innercontainer{
width: 800px;
height: 435px;
background-color: whitesmoke;
margin:auto;
margin-top: 60px;
border-radius: 15px;
display: flex 
}

#firstcolumn{
    width: 50%;
    padding-top: 30px;
    align-items: center;
}

#secondcolumn{
    width: 50%;
    background-color: rgb(5, 86, 236);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:40px;
}


facebook{
    border: solid 1px cornflowerblue;
    width: 50px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px ;
    margin-left: 120px;
      
}


google{
    border: solid 1px cornflowerblue;
    width: 50px;
    padding-bottom: 8px;
    padding-top:8px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 30px;
    margin-left: 10px;
}

instagram{
    border: solid 1px cornflowerblue;
    width: 50px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-left: 10px;
    

}

a{
    color: cornflowerblue;
    text-decoration: none;
}

p{
    text-align: center;
    margin-top: 30px;
}

#inputs{
   margin-bottom: 20px;
}

input{
   margin-left: 40px;
   padding: 10px;
   background-color: rgb(223, 215, 215);
   border: 0cap;
}

#changePass{
    margin-left: 95px;
}

button{
    background-color: cornflowerblue;
    color: aliceblue;
    margin-left: 60px;
    width: 220px;
    padding: 10px;
    margin-top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0cap;
}

#secondHeader{
    color: aliceblue;
    margin-top: 140px;
}

#para{
    color: aliceblue;
}

#lastlink{
    margin-left: 150px;
    color: black;
    text-decoration: underline;
}